[user]
	name = Àlex Marlés
	email = newyorkdc@gmail.com
[github]
	user = alexmarles
	token = 64fcdf461773245271b62f334f5320d4
[color]
	status = auto
	branch = auto
	diff = auto
	interactive = auto
[core]
	editor = vim
[alias]
	gl = log --graph --oneline --decorate --all
	gl2 = log --graph --pretty=format:'%Cred%h%Cgreen%d%Creset %s by %Cgreen %cn %Creset at %Cblue(%cr)'
	gs = status -sb
	ga = add .
	gc = commit -am
