[user]
	name  = My Name
	email = my@mail.com
[color]
  status      = auto
  branch      = auto
  diff        = auto
  interactive = auto
[core]
  editor       = vim
  excludesfile = .gitignore_global
[branch]
  autosetuprebase = always
[alias]
  gl  = log --graph --date-order -C -M --pretty=format:'%x09%C(blue)%ar %C(cyan)%h %C(yellow)%an %C(white)%s %C(red)%d' --all --date=short
  gs  = status -sb
  ga  = add --all
  gcm = commit -m
  df  = diff
