[user]
	name  = My Name
	email = my@mail.com
[color]
  status      = auto
  branch      = auto
  diff        = auto
  interactive = auto
[core]
  editor       = vim
  excludesfile = .gitignore_global
[branch]
  autosetuprebase = always
[alias]
  gl  = log --graph --date-order -C -M --pretty=format:'%x09%C(bold blue)%ar%Creset%x09%C(bold green)%h%Creset%x09%C(bold yellow)%an%Creset %s%Cgreen%d%Creset' --all --date=short
  gl1 = log --graph --pretty=format:'%C(yellow bold)%h%C(red bold)%d%Creset %s %C(green bold) %cn %C(cyan bold)(%cr)' --all
  gl2 = log --graph --oneline --decorate --all
  gs  = status -sb
  ga  = add --all
  gcm = commit -m
  df  = diff
